<!DOCTYPE html>
<html>
<%- include ("partials/head") %>
<body>
    <%- include ("partials/navbar") %>

    <div class="container-fluid pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2">Create your edition | 3/4 Add annotations</h1>
                </div>
            </div>

            <div class="row mt-4">
                <!-- buttons -->
                <div class="col-md-2">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16">
                            <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
                        </svg>
                    </div>
                    <div class="caption mt-3 text-secondary">
                        <p>Highlight relevant strings in the text and use the tools below to add information</p>
                    </div>
                    <div class="tools">
                        <!-- text structure -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-primary btn-collapse" data-bs-toggle="collapse" href="#collapse-text-structure" role="button" aria-expanded="false" aria-controls="Tools annotate the text structure">Text structure</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-text-structure">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-primary" type="button" data-value="Title">Title</button>
                                    <button class="btn btn-outline-primary" type="button" data-value="Subtitle">Subtitle</button>
                                    <button class="btn btn-outline-primary" type="button" data-value="Chapter">Chapter</button>
                                    <button class="btn btn-outline-primary" type="button" data-value="Subchapter">Subchapter</button>
                                    <button class="btn btn-outline-primary" type="button" data-value="Line">Line</button>
                                    <button class="btn btn-outline-primary" type="button" data-value="Pāda">Pāda</button>
                                </div>
                            </div>
                        </div>
                        <!-- apparatus -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-secondary btn-collapse" data-bs-toggle="collapse" href="#collapse-apparatus" role="button" aria-expanded="false" aria-controls="Tools to annotate the apparatus">Apparatus</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-apparatus">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-secondary" type="button" data-value="Apparatus entry">Apparatus entry</button>
                                </div>
                            </div>
                        </div>
                        <!-- notes -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-success btn-collapse" data-bs-toggle="collapse" href="#collapse-notes" role="button" aria-expanded="false" aria-controls="Tools to add the notes">Notes</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-notes">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-success" type="button" data-value="Philological note">Philological note</button>
                                    <button class="btn btn-outline-success" type="button" data-value="Historical note">Historical note</button>
                                    <button class="btn btn-outline-success" type="button" data-value="Literary note">Literary note</button>
                                </div>
                            </div>
                        </div>
                        <!-- metre -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-warning btn-collapse" data-bs-toggle="collapse" href="#collapse-metre" role="button" aria-expanded="false" aria-controls="Tools to annotate the metre">Metre</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-metre">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-warning" type="button" data-value="">Anustubh</button>
                                    <button class="btn btn-outline-warning" type="button" data-value="">Vaṃśastha</button>
                                </div>
                            </div>
                        </div>
                        <!-- transcription -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-info btn-collapse" data-bs-toggle="collapse" href="#collapse-transcription" role="button" aria-expanded="false" aria-controls="Tools to add the transcription">Transcription</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-transcription">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-info" type="button" data-value="Devanāgarī">Transcription in Devanāgarī</button>
                                    <button class="btn btn-outline-info" type="button" data-value="Roman">Transcription in Roman</button>
                                </div>
                            </div>
                        </div>
                        <!-- translation -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-danger btn-collapse" data-bs-toggle="collapse" href="#collapse-translation" role="button" aria-expanded="false" aria-controls="Tools to add the translation">Translation</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-translation">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-danger" type="button" data-value="English">Translation in English</button>
                                    <button class="btn btn-outline-danger" type="button" data-value="Italian">Translation in Italian</button>
                                </div>
                            </div>
                        </div>
                        <!-- witnesses -->
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-dark btn-collapse" data-bs-toggle="collapse" href="#collapse-witnesses" role="button" aria-expanded="false" aria-controls="Tools to add the facsimiles of the witnesses">Facsimiles of the witnesses</button>
                        </div>
                        <div class="collapse mb-2" id="collapse-witnesses">
                            <div class="card card-body">
                                <div class="collapse-el d-grid gap-2">
                                    <button class="btn btn-outline-dark" type="button" data-value="">Reference and link to witnesses facsimiles</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- upload a file -->
                <div class="col-md-10">
                    <div>
                        <form action="/addAnnotations/<%= id %>" enctype="multipart/form-data" method="post">
                            <label class="text-muted">Insert the text of the edition below or upload a file</label>
                            <input type="file" name="upload">
                            <input type="submit" value="Submit">
                        </form>
                        <textarea class="mt-3" rows="10" cols="100" name="">
                            <% if (typeof file != 'undefined') { %>
                                <%- include (`../uploads/${file}`) %>
                            <% }; %>
                        </textarea>
                    </div>
                    <div>
                        <a href="/publish" class="btn btn-primary" title="Save the annotations">Save the annotations</a>
                    </div>                
                </div>
            </div>

        </div>
    </div>
    
    <%- include ("partials/footer") %>
    <%- include ("partials/script") %>
</body>
</html>