<!DOCTYPE html>
<html>
<%- include ("partials/head") %>
<body>
    <%- include ("partials/navbar") %>
    
    <div class="container-fluid pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2"><%= title %>, <%= author %></h1>
                    <h2 class="h4 text-muted">Curated by <%= editor %></h2>
                    <div class="txt">
                        <%- include(`../uploads/${file}`) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ("partials/footer") %>
    <%- include ("partials/script") %>
</body>
</html>